/cpp/MagnetSolver/.vs/MagnetSolver/.vs
/cpp/MagnetSolver/.vs/MagnetSolver/x64
/cpp/MagnetSolver/.vs/MagnetSolver/packages
/cpp/MagnetSolver/.vs/MagnetSolver/*.sln
/cpp/MagnetSolver/.vs/MagnetSolver/*.vcxproj
/cpp/MagnetSolver/.vs/MagnetSolver/*.filters
/cpp/MagnetSolver/.vs/MagnetSolver/*.user
/ElasticModellingApporach/cpp implementation/HomogenousFields/HomogenousFields/*.sln
/ElasticModellingApporach/cpp implementation/HomogenousFields/HomogenousFields/*.vcxproj
/ElasticModellingApporach/cpp implementation/HomogenousFields/HomogenousFields/*.filters
/ElasticModellingApporach/cpp implementation/HomogenousFields/HomogenousFields/*.user
/ElasticModellingApporach/cpp implementation/HomogenousFields/HomogenousFields/.vs
/ElasticModellingApporach/cpp implementation/HomogenousFields/HomogenousFields/x64
